{%extends 'base.html'%}
{%block content%}
<!DOCTYPE html>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="table-responsive col-md-6 col-md-offset-3">
  <ul class="nav nav-pills">
    <li role="presentation"><a href="/InfoPersonal/">Agregar Paciente</a></li>
    <li role="presentation"class="active"><a href="/DatosUser/lista">Lista de paciente</a></li>
  </ul>
  <form class="navbar-form navbar-right">
              <input type="text" class="form-control" placeholder="Search..." name="q" value="{{busca|escape}}">
            </form>

  <h1>Datos Personales Basicos.</h1>
  <table class="table table-striped">
<thead>
  <tr>
    <th>Nombre</th>
    <th>Edad</th>
    <th>Fecha de Nacimiento</th>
    <th>Tipo de Sangre</th>
    <th>Alergias</th>
    <th>Email</th>
  </tr>
</thead>
<tbody>
  <ul>
    {%for Pacientes in object_list%}

    <tr>

      <th><a href="/../paciente_actualizar/{{Pacientes.id}}">{{Pacientes.nombre}}</a></th>
      <th><a href="#">{{Pacientes.edad}}</a></th>
      <th><a href="#">{{Pacientes.fechaNacimiento}}</a></th>
      <th><a href="#">{{Pacientes.Tipo_Sangre}}</a></th>
      <th><a href="#">{{Pacientes.Alergias}}</a></th>
      <th><a href="#">{{Pacientes.email}}</a></th>
      <th>
          <a class="btn btn-primary" href="/../paciente_actualizar/{{Pacientes.id}}">
            Editar
          </a>
      </th>

    </tr>
  {%empty%}
    <li>No hay datos medicos registrados!</li>
  {%endfor%}
  </ul>



</tbody>
</table>
</div>
{%endblock %}
