{%extends 'base.html'%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Datos Medicos</title>
  </head>
  <body>
    <table>
  <thead>
    <tr>
      <th width="200">Nombre</th>
      <th>Table Header</th>
      <th width="150">Edad</th>
      <th width="150">Tipo de sangre</th>
      <th width="150">Email</th>
      <th width="150">Patologias</th>
    </tr>
  </thead>
  <tbody>
    {%for Libro in object_list%}

    <tr>
      <th>{{DatosUser.id}}</th>
      <th><a href="#">{{DatosUser.nombre}}</a></th>
      <th><a href="#">{{DatosUser.edad}}</a></th>
      <th><a href="#">{{DatosUser.fechaNacimiento}}</a></th>
      <th><a href="#">{{DatosUser.Tipo_Sangre}}</a></th>
      <th><a href="#">{{DatosUser.email}}</a></th>
      <th><a href="#">{{DatosUser.patologias}}</a></th>

    </tr>
  {%empty%}
    <li>No hay libros en existencia!</li>
  {%endfor%}
  </body>
</html>
